.menu {
    position: relative;
    overflow: auto;
    scrollbar-width: none;
    margin: initial;
    background-color: var(--ButtonsColor);
    box-shadow: 2.5px 5px 10px rgb(0, 0, 0, 0.15);
    border-radius: 22px;
    height: 97.5%;
    width: 25vh;

}