.Article {
    position: relative;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    scrollbar-width: none;
    margin: 0 0 0 25px;
    padding: 10px 5px;
    background-color: var(--ButtonsColor);
    box-shadow: 2.5px 5px 10px rgb(0, 0, 0, 0.15);
    border-radius: 22px;
    height: 89%;
    width: 145vh;
}