.Section {
    padding: 8px 7px;
    box-shadow: 2.5px 5px 10px rgb(0, 0, 0, 0.15);
    background-color: var(--ButtonsColor);
    width: auto;
    margin: 5px 15px;
    height: 4vh;
    display: flex;
    flex-direction: column;
}

.Section h3 {
    background-color: var(--Green);
    margin: 5px;
    text-align: left;
    padding: 5px 10px;
    border-radius: 12px;
    font-family: "Delius", cursive;
    font-weight: bold;
    cursor: pointer;
    size: 12px;
    font-style: normal;

    text-align: left;
    color: var(--Snow);
    border-bottom-right-radius: 0;
}

.Section:first-child {
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.Section:last-child {
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}

#Select-Section {
    height: auto;
}

#Select-Section h3 {
    background-color: var(--Blue);

}

#Select-Section .SubSection {
    visibility: visible;
}