:root {
    --Orange: #C96868;
    --Yellow: #FADFA1;
    --Blue: #7EACB5;
    --Green: #95D2B3;
    --Green-Soft: #E2F1E7;
    --Snow: #FFF4EA;
    --Black: #1E201E;
    --False: #FF8A8A;

    --BodyColor: #F5EFFF;
    --SectionsColor: #B9B4C71F;
    --ButtonsColor: #F5EFFF;

    --FontColor: #222831;
    --IconColor: #282A36;
}

.dark {
    --Green: #577B8D;
    --Blue: #344C64;
    --Green-Soft: #76ABAE;
    --False: #A0153E;
    --Yellow: #526D82;

    --BodyColor: #352F44;
    --SectionsColor: #B9B4C71F;
    --ButtonsColor: #B9B4C71F;

    --FontColor: #FAF0E6;
    --IconColor: #FAF0E6;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--BodyColor);
    color: var(--FontColor);
    transition: background-color 0.6s;
    overflow: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}


button {
    height: 38px;
    width: auto;
    border-radius: 22px;

    font-size: medium;
    cursor: pointer;

    padding: 0px 10px;
    margin: 5px 5px;
    transition: opacity 0.66s;

    vertical-align: top;
    text-align: center;
    transition: background-color 0.66s, opacity 0.66s, stroke-width 0.66, box-shadow 1s;
}

button:hover {
    box-shadow: 2.5px 5px 10px rgb(0, 0, 0, 0.15);
}

button:active {
    box-shadow: 2.5px 5px 15PX rgb(0, 0, 0, 0.33);
    opacity: 0.6;
}

.button {
    background-color: var(--ButtonsColor);
    border: none;
    text-align: center;
}

.button:hover svg path {
    box-shadow: 2.5px 5px 10px rgb(0, 0, 0, 0.15);
    stroke-width: 1.8;
}

.button:hover svg circle {
    box-shadow: 2.5px 5px 10px rgb(0, 0, 0, 0.15);
    stroke-width: 2.4;
}

.div-search {
    width: 50%;
    display: flex;

    background-color: initial;
    height: auto;
    width: auto;
    margin: 0px 40px;
}

.div-search #search {
    border-radius: 0px 18px 18px 0px;
    box-shadow: 4px 10px 10px rgb(0, 0, 0, 0.1);
    margin: 0px;
    height: 36px;
}

.div-search #search:hover {
    box-shadow: 4px 10px 10px rgb(0, 0, 0, 0.20);
}


input[type=text] {
    border: none;
    border-right: 3px solid var(--FontColor);
    border-radius: 18px 0px 0px 18px;
    box-shadow: 2px 5px 10px rgb(0, 0, 0, 0.20);

    height: 36px;
    width: 45vh;

    text-align: left;
    cursor: pointer;

    padding: 0px 40px;
    background-color: var(--ButtonsColor);
    color: var(--FontColor);

}

input[type=text]::placeholder {
    color: var(--FontColor);
    font-size: large;
}

input[type=text]:focus {
    border: none;
    box-shadow: 4px 10px 10px rgb(0, 0, 0, 0.33);
    outline: none;
}